<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leo's Binary to Denary Converter</title>
</head>
<body>
<div class="conversion-container">
    <form id="conversionForm">
        <label for="binary">Binary:</label>
        <input type="text" id="binary" name="binary" required>

        <label for="decimal">Decimal:</label>
        <input type="text" id="decimal" name="decimal" required>

    </form>
</div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
